<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="page-header"> CONTRATACIÓN DOCENTES POR VINCULACIÓN ESPECIAL </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="intro-text text-center"> Docentes por vinculación especial</strong></h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="intro-text text-center"> Pregrado</strong></h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-lg-12">
                                        <label></label>
                                        <a ng-href="#/hispregrado"><button class="form-control">Ver resoluciones</button></a>
                                    </div>
                                    <div class="col-lg-12">
                                        <label></label>
                                        <a ng-href="#/respregrado"><button class="form-control">Nueva resolución</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="intro-text text-center"> Posgrado</strong></h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-lg-12">
                                        <label></label>
                                        <a ng-href="#/hisposgrado"><button class="form-control">Ver resoluciones</button></a>
                                    </div>
                                    <div class="col-lg-12">
                                        <label></label>
                                        <a ng-href="#/resposgrado"><button class="form-control">Nueva resolución</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        Universiad Distrital Francisco José de Caldas
        <br>
        2016
    </div>
</div>
