<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ng-href="#/">Universidad Distrital Francisco José de Caldas</a>
  </div>

  <ul class="nav navbar-top-links navbar-right">
    <li><a ng-href="#/">Inicio</a></li>
    <li class="dropdown"><a ng-href="actual" class="dropdown-toggle" data-toggle="dropdown">Resolución <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="dropdown dropdown-submenu"><a ng-href="#/" class="dropdown-toggle" data-toggle="dropdown">Pregrado</a>
          <ul class="dropdown-menu">
            <li><a ng-href="#/hispregrado">Ver resoluiones</a></li>
            <li><a ng-href="#/respregrado">Nueva resolucion</a></li>
          </ul>
        </li>
        <li class="dropdown dropdown-submenu"><a ng-href="#/" class="dropdown-toggle" data-toggle="dropdown">Posgrado</a>
          <ul class="dropdown-menu">
            <li><a ng-href="#/hisposgrado">Ver resoluiones</a></li>
            <li><a ng-href="#/resposgrado">Nueva resolucion</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
